<% network = Network.find_by("id" => params["id"]) %>

<% users = User.where("network_id" => network["id"]) %>

<% recipes = Recipe.where("user_id" => users["id"]) %>


<% recipes.each do |recipe| %>

<ul>
<li><%= recipe["recipe_name"] %></li>
</ul>

<% end %>
