


<h4>Welcome to the Collective Chef, a platform that will enable easier recipe sharing between you and your friends!</h4>

<hr>

<%= image_tag "http://livetoeatcookingtherapy.files.wordpress.com/2010/09/cropped-banner_chef.jpg" %>

<hr>

<p>Using this website, you will be able to...</p>
  <ul>
      <li>Create or join a recipe network</li>
      <li>Save recipes to your custom, digital "cookbook"</li>
      <li>Review recipes you have tried</li>
      <li>Append notes on suggested changes or additions (too much salt? not enough heat?)</li>
      <li>Suggest recipes to friends in your network</li>
      <li>Browse your friends' cookbooks for meal ideas!</li>
  </ul>
