
<h4>Welcome to Home Base. Edit your Cookbook, browse network suggestions, or search the Collective Chef database!</h4>

<hr>

REROUTE TO "SIGN IN" IF NOT ALREADY SIGNED IN

IF SIGNED IN, GO TO KITCHEN HOMEPAGE FOR USER
